body{

    color: darkslategrey;

    background-color: lightgoldenrodyellow;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

img#younglife{

    width: 350px;

}

img#mountain{

    width: 400;
}

